<header>
    <div id="logo">
        <a href="/" title="Homepage">
            <h1><span id="coloredChar">G</span>-Blog</h1>
        </a>
    </div>
    <nav>
        {{ $current := . }}
        {{ range .Site.Menus.main }}
            <a title="{{ .Title }}" href="{{ .URL }}">
                {{ $isSelected := or (and $current.IsHome ($current.IsMenuCurrent "main" .)) (eq $current.Section .Identifier) }}
                <div class="navigationButton {{ if $isSelected }} selected {{ else }} unselected {{ end }}">
                    <span class="icon-{{ .Identifier }}"></span>
                    <p>{{ .Name }}</p>
                </div>
            </a>
        {{ end }}
    </nav>
</header>