@use '../variables' as var;

.article {
    margin: 4% 8% 0 8%;

    h3 {
        margin: 0;
        margin-bottom: 5px;
        color: var.$color-accent;
        font-size: 1.5rem;
    }

    small {
        color: var.$color-text-secondary;
    }
}

.abstract {
    margin: 12px 0;
    line-height: var.$line-height-text;
    font-size: var.$font-size-text;
}