{{ define "meta" }}
<meta name="description" content="A software developer's blog">
{{ end }}

{{ define "includes" }}
{{ partial "scssLink" "index" }}
{{ end }}

{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Section" "articles") }}

<div id="articleContainer">
    {{ range  $paginator.Pages }}
        {{ .Render "summary" }}
    {{ else }}
        <p>Articles will be shown here in the future.</p>    
    {{ end }}
</div>

{{ partial "pagination" $paginator }}
{{ end }}