@forward 'components/single';
@use 'variables' as var;

#socialMediaLinks {
    list-style: none;
    padding-left: 0;
}

.socialMediaLink {
    color: var.$color-link;

    span {
        text-decoration: underline #3A90EF dotted;
    }

    img {
        height: 1.3rem;
        width: auto;
    }
}

.socialMediaLink:hover {
    span {
        text-decoration-style: solid;
    }
}

@media (min-width: var.$breakpoint-tablet) {
    .socialMediaLink {
        padding-left: 20px;
    }
}