@forward 'components/single';
@forward 'components/authorInfo';
@use 'variables' as var;

#articleMeta {
    margin-bottom: 30px;

    small {
        margin: 0;
        color: var.$color-text-secondary;
        font-size: unset;
    }
}

#relatedArticles {
    align-self: flex-start;

    h3 {
        font-size: 1.3rem;
        margin: 1.4rem 0 1.1rem 0;
    }

    a {
        color: var.$color-link;
        text-decoration: underline var.$color-link dotted;

        &:hover {
            text-decoration-style: solid;
        }
    }
}

#backToTop {
    color: var.$color-text-secondary;
    text-decoration: none;
    font-style: italic;
}