@import "variables";

.article {
    margin: 4% 8% 0 8%;

    h3 {
        margin: 0;
        margin-bottom: 5px;
        color: $color-accent;
        font-size: 1.5rem;
    }

    small {
        color: $color-text-secondary;
    }
}

.abstract {
    margin: 12px 0;
    line-height: $line-height-text;
    font-size: $font-size-text;
}