@forward 'fonts';
@forward 'components/header';
@forward 'components/footer';
@use 'variables' as var;

html {
  font-family: var.$font-text;
  min-width: 320px;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  min-height: 100vh; /* Make the page fill at least the whole screen */
  color: var.$color-text;
}

main {
  flex-grow: 1; /* Stretch to fill remaining body */
}

span[class^="icon-"]::before {
  font-family: "blog-icon-font";
  line-height: 1;
}
