{{ define "meta" }}
{{ with .Params.author -}} <meta name="author" content="{{ . }}"> {{- end }}
{{ with .Summary -}} <meta name="description" content="{{ . }}"> {{- end }}
{{ with .Keywords -}} <meta name="keywords" content="{{ delimit . ", " }}"> {{- end }}
{{ end }}

{{ define "includes" }}
{{ partial "scssLink" "article" }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-okaidia.min.css">
{{ end }}

{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    
    <div id="articleMeta">
        <small>
            {{- partial "metadata" (dict "author" .Params.author "date" .Date) -}}
        </small>
    </div>

    <section class="articleContent">
        {{ .Content }}
    </section>

    {{ $related := .Site.RegularPages.Related . | first 3 }}
    {{ if gt (len $related) 0 }}
        <section id="relatedArticles">
            <h2>See also</h2>
            <ul>
                {{ range $related }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </section>
    {{ end }}

    <a id="backToTop" href="#" title="Back to top"><small>Back to top</small></a>

    {{ with .Params.author }}
        <hr>
        {{ partial "authorInfo" . }}
    {{ end }}
</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
{{ end }}